@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;

  src: url(./fonts/Barlow-Regular.woff) format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/Barlow-Bold.woff) format("woff");
}

@font-face {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/AlbertSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/AlbertSans-Bold.woff) format("woff");
}

:root {
  --background-color: rgba(245, 240, 234, 1);
  --siteRed: rgba(215, 127, 117, 1);
  --siteGreen: rgba(74, 133, 89, 1);
  --siteYellow: rgba(250, 199, 0, 1);
  --sitedarkGrenn: rgba(100, 127, 134, 1);
  --siteblue: rgba(88, 122, 173, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  height: 60vh;
}

input {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  border-radius: 0.4rem;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  max-width: 80%;
  margin: 0 auto;
  /*border: 1px solid #ccc;*/
}

.navbar {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(100, 127, 134, 1);
}

.navLogo {
  display: flex;
  justify-content: start;
  padding-top: 1.5rem;
  padding-bottom: 0.1rem;
}

.logo {
  max-width: 200px;
  height: auto;
}

.logoVers {
  font-size: xx-small;
  padding-bottom: 1rem;
  color: var(--sitedarkGrenn);
}

.standardSectionBackground {
  background-color: var(--background-color);
}

.herobanner {
  height: 30vh;
  min-height: 14rem;
}

.heroHeadline {
  padding-top: 1rem;
  width: 14rem;
  padding-bottom: 1rem;
  font-size: 1.7rem;
}

.heroText {
  font-weight: 700;
  color: var(--sitedarkGrenn);
}

.s {
  color: var(--siteRed);
}

.o {
  color: var(--siteYellow);
}
.l {
  color: var(--siteYellow);
}
.a {
  color: var(--siteblue);
}
.r {
  color: var(--siteblue);
}

.heroCTA {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

/* -- Main sections */

.potential {
  background-color: var(--siteYellow);
}

/*-- holder --*/

.addressFinder {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  min-height: 12rem;
  padding-bottom: 3rem;
  /*border: 1px solid white;*/
}

.addressConfirmation {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  /*border: 1px solid white;*/
}

.section-block {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--siteRed);
  margin-bottom: 1rem;
}

.addressConfirmationText {
  width: 80%;

  /*border: 1px solid white;*/
}

.addressConfirmationBtn {
  margin-top: 1rem;
  background-color: white;
  border: 2px solid var(--siteRed);
  padding: 0.2rem 1.7rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--sitedarkGrenn);
}

.searchContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  /*border: 1px solid red;*/
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  /*border: 1px solid red;*/
}

.searchInput {
  border: 3px solid var(--siteGreen);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

.dropdown {
  position: absolute;
  width: 70%;
  top: 100%;
  background: white;
  border: 1px solid #ccc;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: var(--siteYellow);
}

.solarEstimate {
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  background-color: var(--siteYellow);
  margin-bottom: 1rem;
  /*border: 1px solid white;*/
}

.solarEstimate h3 {
  padding-bottom: 0.8rem;
}

/* Sunny details section */

.sunnyDetailsSection {
  display: grid;
  grid-template-columns: 50% 50%;
}
.detailsLeft {
  background-color: var(--siteRed);
}
.detailsRight {
  background-color: var(--siteblue);
}

.detailsLeftContent h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--background-color);
  font-weight: 400;
}

.detailsRightContent h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--background-color);
  font-weight: 400;
}

.contentLeft {
  padding: 2rem;
  text-align: center;
}

.eulogo {
  width: 2rem;
  height: auto;
  vertical-align: bottom;
}

.detailsLeftContent h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--background-color);
}

.detailsLeftContent ul {
  text-align: left;
  padding-left: 5rem;
}

.contentRight {
  padding: 2rem;
  text-align: center;
}

.detailsRightContent ul {
  text-align: left;
  padding-left: 5rem;
}

.marketingBlock {
  display: inline-block;
  width: 4rem;
  height: 0.3rem;
  background-color: var(--siteYellow);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* marketing section */

.image-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

/* -- Footer -- */

.footerSection {
  background-color: var(--background-color);
  padding-top: 2rem;
}

.footContent {
  display: flex;
  flex-direction: column;
}

.coreFooterGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 2rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 2rem;
  gap: 1rem;
}

.emailFormHolder {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 2rem;
}

.emailTopMsg {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--sitedarkGrenn);
}

.emailForm {
  display: flex;
  flex-direction: row;
}

.emailSubmitInput {
  border-radius: 0;
  border: 1px solid var(--sitedarkGrenn);
  padding: 0.5rem;
  width: 14rem;
}

.emailWarning {
  padding-top: 1.5rem;
  font-size: 0.9rem;
  color: var(--sitedarkGrenn);
}

.emailSubmitbtn {
  margin-left: 1rem;
  background-color: var(--siteYellow);
  border: none;
  padding: 0 1rem;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  font-size: smaller;
}

.footerGBcontainer {
  text-align: right;
}

.footerGB {
  width: 6rem;
  height: auto;
  padding-right: 2rem;
}

/* styling for the email form */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/** -- Media Queries -- */

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .herobanner {
    padding: 0;
  }

  .searchContentContainer {
    width: 100%;
  }

  .addressFinder {
    width: 100%;
  }

  .addressConfirmationText {
    text-align: center;
  }

  .sunnyDetailsSection {
    grid-template-columns: 100%;
  }

  .image-container {
    grid-template-columns: 100%;
  }

  .coreFooterGrid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .contact-grid {
    grid-template-columns: 100%;
  }

  .footerGBcontainer {
    text-align: left;
  }

  .detailsLeftContent ul {
    padding-left: 1rem;
  }

  .detailsRightContent ul {
    padding-left: 1rem;
  }

  .emailForm {
    flex-direction: column;
  }

  .emailSubmitbtn {
    margin: 0;
    width: 5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
}
